---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import { Mail, Hand, PencilRuler, Shapes, Zap } from 'lucide-react';
import { Image } from 'astro:assets';
import Feature from '../components/Feature.astro';
import Section from '../components/Section.astro';
import lacolonna from '../images/works/lacolonna.png';
import angelogueli from '../images/works/angelogueli.png';
import Website from '../components/Website.astro';
---

<Layout title="Web Development">
  <div class="my-32 flex flex-col items-center">
    <h1 class="font-pixel text-3xl lg:text-4xl text-center">Beautifully crafted, <br/> <span data-hero-keyword class="text-secondary">handmade</span> websites</h1>
    <a href="mailto:gioele@pannetto.com">
      <Button class="mt-8 items-center flex space-x-2"><Mail/><span>Contact Me</span></Button>
    </a>
  </div>

  <main class="container mx-auto px-4">

    <Section title="Features">
      <div class="grid sm:grid-cols-3 xl:grid-cols-5 gap-5">
        <div class="hidden xl:block"></div>
        <Feature icon={Zap}>
          All my websites are made from scratch using lightweight tools, unlike WordPress, so your website will be <b class="font-bold">lightning fast</b>!
        </Feature>
        <Feature icon={PencilRuler}>
          Easly <b class="font-bold">customizable</b>, edit the website settings from a simple dashboard compleatly designed in house
        </Feature>
        <Feature icon={Shapes}>
          Shaped on your needs. From a personal to a business website. Need a specific feature? I've got you covered.
        </Feature>
        <div class="hidden xl:block"></div>
      </div>
    </Section>

    <Section title="Past work">
      <div class="grid lg:grid-cols-2 gap-4">
        <Website url="lacolonnacar.it" img={lacolonna}>
          Autocarrozzeria La Colonna is a car services and shop.
          Their website shows all their services and contact info.
          It also includes a payment service, powered by Stripe, that allows clients to book a car for rental.
        </Website>
        <Website url="angelogueli.com" img={angelogueli}>
          Angelo Gueli is an architect who has a passion for drawing. He needed a website where he could show the world
          his drawings. Given the dynamicity of his works, every page is compleatly customizable using a simple text editor accessible from the dashboard. 
        </Website>
      </div>
    </Section>  
  </main>
</Layout>

<script>
const span = document.querySelector<HTMLSpanElement>('[data-hero-keyword]')!;
const words = ['handmade', 'lightweight', 'inexpensive'];
let current = 0;
  
const update = () => {
  current = (current + 1) % words.length;
  span.innerText = words[current];
};

setInterval(update, 5000);
</script>